image: Visual Studio 2022

branches:
    except:
        - ci/travis
        - /dependabot\/.*/
skip_commits:
    files:
        - '*.md'
        - 'LICENSE'
        - '.travis.yml'

install:
  - choco install dotnet-10.0-runtime dotnet-6.0-sdk dotnet-8.0-sdk dotnet-9.0-sdk dotnet-10.0-sdk -y

build: off
test: off

build_script:
    - ps: .\build.ps1 --target=CI --verbosity=Diagnostic

cache:
    - 'tools -> .config/dotnet-tools.json,setup.cake,.build/sonarcloud.cake'
