---
Title: Cake.Recipe
NoSidebar: true
NoContainer: true
NoGutter: true
---

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Cake.CodeCov</h1>
        <p>
            A <a href="https://cakebuild.net">Cake</a> addin that extends Cake with the ability to use <a href="https://codecov.io">Codecov</a> (<a href="https://github.com/codecov/codecov-exe">.NET Edition</a>).
        </p>
        <a class="btn btn-primary btn-lg" href="@Context.GetLink("api")" role="button">Learn more</a>
    </div>
</div>