name: Build

on:
  push:
    branches:
      - master
      - develop
      - "release/**"
      - "hotfix/**"
      - "feature/**"
    tags:
      - "*"
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    env:
      AZURE_PASSWORD: ${{ secrets.AZURE_PASSWORD }}
      AZURE_SOURCE: ${{ secrets.AZURE_SOURCE }}
      AZURE_USER: ${{ secrets.AZURE_USER }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      GITTER_ROOM_ID: ${{ secrets.GITTER_ROOM_ID }}
      GITTER_TOKEN: ${{ secrets.GITTER_TOKEN }}
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      NUGET_SOURCE: "https://api.nuget.org/v3/index.json"
      TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
      TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
      TWITTER_CONSUMER_KEY: ${{ secrets.TWITTER_CONSUMER_KEY }}
      TWITTER_CONSUMER_SECRET: ${{ secrets.TWITTER_CONSUMER_SECRET }}
      WYAM_ACCESS_TOKEN: ${{ secrets.WYAM_ACCESS_TOKEN }}
      WYAM_DEPLOY_BRANCH: "gh-pages"
      WYAM_DEPLOY_REMOTE: ${{ github.event.repository.html_url }}

    steps:
      - uses: actions/checkout@v6.0.1
      - name: Fetch all tags and branches
        run: git fetch --prune --unshallow
      - name: Cache Tools
        uses: actions/cache@v5.0.0
        with:
          path: tools
          key: ${{ runner.os }}-tools-${{ hashFiles('setup.cake') }}
      - name: install .NET versions
        uses: actions/setup-dotnet@v5.0.1
        with:
          # GitVersion needs 6.x
          # GitReleaseManager needs 7.x
          dotnet-version: |
            6.0.x
            7.0.x
            8.0.x
            9.0.x
            10.0.x
      - name: Build Addin
        uses: cake-build/cake-action@v3
        with:
          script-path: setup.cake
          target: CI
          verbosity: Diagnostic
          cake-version: tool-manifest
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.os }}-artifacts
          path: |
            BuildArtifacts/report.html
            BuildArtifacts/packages/**/*.nupkg
            BuildArtifacts/**/coverlet/*.xml
