name: Draft Pre Release Notes

on:
  workflow_dispatch:

jobs:
  draft-pre-release:
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout the requested branch
        uses: actions/checkout@v4.1.5
      - name: Fetch all tags and branches
        run: git fetch --prune --unshallow
      - name: Cache Tools
        uses: actions/cache@v4.0.2
        with:
          path: tools
          key: ${{ runner.os }}-tools-${{ hashFiles('setup.cake') }}
      - name: install .NET versions
        uses: actions/setup-dotnet@v4.0.0
        with:
          # codecov in cake.recipe needs 2.1!
          # version used for GitReleaseManager needs .NET Core 3.0
          dotnet-version: |
            3.1.x
            5.0.x
            6.0.x
      - name: Set up git version
        if: ${{ !contains(github.ref, '/hotfix/') && !contains(github.ref, '/release/') }}
        uses: gittools/actions/gitversion/setup@v1.2.0
        with:
          versionSpec: "5.x"
      - name: Run git version
        if: ${{ !contains(github.ref, '/hotfix/') && !contains(github.ref, '/release/') }}
        id: gitversion
        uses: gittools/actions/gitversion/execute@v1.2.0
      - name: Create release branch ${{ github.event.inputs.version }}
        if: ${{ steps.gitversion.outputs.majorMinorPatch }}
        run: git switch -c release/${{ steps.gitversion.outputs.majorMinorPatch }}
      - name: Push new branch
        if: ${{ steps.gitversion.outputs.majorMinorPatch }}
        uses: ad-m/github-push-action@v0.8.0
        with:
          branch: "release/${{ steps.gitversion.outputs.majorMinorPatch }}"
          github_token: ${{ secrets.GH_TOKEN }}
      - name: Create release notes # Cake action do not support passing additional arguments
        run: ./build.sh --target=releasenotes --create-pre-release
