name: Publish Documentation

on:
  workflow_dispatch:

jobs:
  publish-docs:
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      WYAM_ACCESS_TOKEN: ${{ secrets.WYAM_ACCESS_TOKEN }}
      WYAM_DEPLOY_REMOTE: "${{ github.event.repository.html_url }}"
      WYAM_DEPLOY_BRANCH: "gh-pages"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the requested branch
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
          ref: ${{ github.event.ref }}
      - name: Cache Tools
        uses: actions/cache@v5.0.0
        with:
          path: tools
          key: ${{ runner.os }}-doc-tools-${{ hashFiles('setup.cake') }}
      - name: install .NET versions
        uses: actions/setup-dotnet@v5.0.1
        with:
          # codecov in cake.recipe needs 2.1!
          dotnet-version: |
            2.1.x
            3.1.x
            5.0.x
      - name: Publishing documentaiton
        uses: cake-build/cake-action@v3
        with:
          script-path: setup.cake
          target: Force-Publish-Documentation
          verbosity: Diagnostic
          cake-version: tool-manifest
