name: Publish Documentation

on:
  workflow_dispatch:

jobs:
  publish-docs:
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      WYAM_ACCESS_TOKEN: ${{ secrets.WYAM_ACCESS_TOKEN }}
      WYAM_DEPLOY_REMOTE: "${{ github.event.repository.html_url }}"
      WYAM_DEPLOY_BRANCH: "gh-pages"
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout the requested branch
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
          ref: ${{ github.event.ref }}
      - name: Cache Tools
        uses: actions/cache@v4.0.2
        with:
          path: tools
          key: ${{ runner.os }}-doc-tools-${{ hashFiles('setup.cake') }}
      - name: Publishing documentaiton
        uses: cake-build/cake-action@v2
        with:
          script-path: setup.cake
          target: Force-Publish-Documentation
          verbosity: Diagnostic
          cake-version: 1.3.0
          cake-bootstrap: true
